<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Here is your information</h2>
      <h5>Name: <%= users.name %></h5><br>
      <h5>Location: <%= users.location %></h5><br>
      <h5>Language: <%= users.language %></h5><br>
      <h5>Comments: <%= users.comments %></h5><br>
      <a href = "/"><h5>Back</h5></a>
  </body>
</html>
